* {
  transition: 0.5s;
  user-select: none;
}
.App {
  display: grid;
  grid-template-columns: 30% max-content;
  grid-template-rows: 100%;
}

.principal-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards-complete {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "card0 card1 card2"
    "card3 card4 card5";
  width: max-content;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1537px) {
  .App {
    display: grid;
  }
}
@media screen and (max-width: 1500px) {
  .principal-root {
    height: auto;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  .cards-complete {
    display: grid;
    grid-template-rows: 65% 65%;
    gap: 20px;
    margin: 5% 0 20% 0;
  }
  .container__report {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1050px) {
  .cards-complete {
    display: grid;
    grid-template-areas:
      "card0"
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
    grid-template-rows: repeat(6, 20%);
  }
}
